<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="no-cache"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>填写信息</title>
    <link rel="stylesheet" href="assets/story_book_style.css" />
</head>
<script type="text/javascript">
    function focusFunc(e) {
        if (!e.getAttribute("notEmpty")) {
            e.value = "";
        }
    }

    function blurFunc(e) {
        if (!e.value) {
            e.value = e.getAttribute("default");
        } else {
            e.setAttribute("notEmpty", "1");
        }
    }

    function submitFunc() {
        if (!document.recordForm.realName || !document.recordForm.realName.getAttribute("notEmpty")) {
            alert("真实姓名");
            document.recordForm.realName.focus();
            return false;
        }
        if (!document.recordForm.address || !document.recordForm.address.getAttribute("notEmpty")) {
            alert("寄送地址");
            document.recordForm.address.focus();
            return false;
        }
        if (!document.recordForm.tel || !document.recordForm.tel.getAttribute("notEmpty")) {
            alert("联系电话");
            document.recordForm.tel.focus();
            return false;
        }
        document.recordForm.submit();
    }
</script>
<body>
<nav>填写收件信息</nav>
<div class="info">
    <form name="recordForm" method="post" action="/story_book_info" >
        <label for="">真实姓名</label>
        <input type="text" name="realName" value="真实姓名" default="" onfocus="focusFunc(this);" onblur="blurFunc(this);" class="text" />
        <br /><input type="checkbox" name="nameType" value="1" />显示为故事书的作者
        <label for="">地址</label>
        <textarea name="address" value="寄送地址" default="寄送地址" onfocus="focusFunc(this);" onblur="blurFunc(this);"></textarea>
        <label for="">手机号码</label>
        <input type="tel" name="tel" value="联系电话" default="" onfocus="focusFunc(this);" onblur="blurFunc(this);" class="text" />
        <input type="hidden" name="userName" value="<%-userName%>">
        <input type="hidden" name="recordName" value="<%-recordName%>">
        <input type="hidden" name="articleId" value="<%-articleId%>">
    </form>
</div>
<div class="ui-jion-button">
    <a href="javascript:submitFunc();">提交</a>
</div>
<!-- Google 统计 -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44370319-1', 'liba.com');
  ga('send', 'pageview');

</script>
</body>
</html>