.emoji-pic {width:20px;height:20px;display:inline-block;vertical-align:middle;background-image:url(../img/emoji.png);}
.emoji-1{background-position:-380px -320px;}
.emoji-2{background-position: -380px -440px;}
.emoji-3{background-position: -380px -300px;}
.emoji-4{background-position: -380px -300px;}
.emoji-5{background-position: -380px -420px;}
.emoji-6{background-position: -380px -500px;}
.emoji-7{background-position: -400px -120px;}
.emoji-8{background-position: -400px -160px;}
.emoji-9{background-position: -420px -60px;}
.emoji-10{background-position: -380px -480px;}
.emoji-11{background-position: -380px -260px;}
.emoji-12{background-position: -400px -200px;}
.emoji-13{background-position: -400px -220px;}
.emoji-14{background-position: -400px 0;}
.emoji-15{background-position: -380px -540px;}
.emoji-16{background-position: -400px -20px;}
.emoji-17{background-position: -400px -40px;}
.emoji-18{background-position: -400px -240px;}
.emoji-19{background-position: -400px -80px;}
.emoji-20{background-position: -400px -380px;}
.emoji-21{background-position: -420px 0;}
.emoji-22{background-position: -400px -440px;}
.emoji-23{background-position: -400px -340px;}
.emoji-24{background-position: -400px -320px;}
.emoji-25{background-position: -400px -540px;}
.emoji-26{background-position: -380px -280px;}
.emoji-27{background-position: -420px -40px;}
.emoji-28{background-position: -420px -20px;}
.emoji-29{background-position: -400px -280px;}
.emoji-30{background-position: -400px -300px;}
.emoji-31{background-position: -400px -480px;}
.emoji-32{background-position: -420px -140px;}
.emoji-33{background-position: -240px -140px;}
.emoji-34{background-position: -240px -100px;}
.emoji-35{background-position: -260px -100px;}
.emoji-36{background-position: -260px -60px;}
.emoji-37{background-position: -260px -120px;}
.emoji-38{background-position: -260px -20px;}
.emoji-39{background-position: -260px -80px;}
/*.emoji-40{background-position: -240px -560px;}*/
.emoji-40{background-position: -540px -240px;}
.emoji-41{background-position: -240px -560px;}
.emoji-42{background-position: -240px -540px;}
.emoji-43{background-position: -260px -40px;}
.emoji-44{background-position: -540px -20px;}
.emoji-45{background-position: -40px -520px;}
.emoji-46{background-position: -260px -240px;}
.emoji-47{background-position: -540px -200px;}
.emoji-48{background-position: -540px -180px;}
.emoji-49{background-position: -260px -280px;}
/*.emoji-49{background-position: -260px -360px;}*/
.emoji-50{background-position: -260px -320px;}
.emoji-51{background-position: -120px -500px;}
.emoji-52{background-position: -120px -480px;}
.emoji-53{background-position: -340px -360px;}
.emoji-54{background-position: -260px -380px;}
.emoji-55{background-position: -200px -340px;}
.emoji-56{background-position: -200px -360px;}
.emoji-57{background-position: -200px -320px;}
.emoji-58{background-position: -200px -280px;}
.emoji-59{background-position: -520px -480px;}
.emoji-60{background-position: -520px -520px;}
.emoji-61{background-position: -200px -300px;}
.emoji-62{background-position: -520px -500px;}
.emoji-63{background-position: -200px -400px;}
.emoji-64{background-position: -200px -200px;}
.emoji-65{background-position: -200px -220px;}
.emoji-66{background-position: -200px -260px;}
.emoji-67{background-position: -200px -240px;}
.emoji-68{background-position: -200px -400px;}
.emoji-69{background-position: -200px -300px;}
.emoji-70{background-position: -420px -540px;}
.emoji-71{background-position: -500px -240px;}
.emoji-72{background-position: -200px -380px;}
.emoji-73{background-position: -260px -400px;}
.emoji-74{background-position: -460px -420px;}
.emoji-75{background-position: -140px -160px;}
.emoji-76{background-position: -220px -340px;}
.emoji-77{background-position: -240px -220px;}
.emoji-78{background-position: -220px -420px;}
.emoji-79{background-position: -420px -360px;}
.emoji-80{background-position: -240px -180px;}
.emoji-81{background-position: -420px -380px;}
.emoji-82{background-position: -240px -460px;}
.emoji-83{background-position: -240px -500px;}
.emoji-84{background-position: -240px -280px;}
.emoji-85{background-position: -240px -300px;}
.emoji-86{background-position: -240px -260px;}
.emoji-87{background-position: -220px -240px;}
.emoji-88{background-position: -220px -260px;}
.emoji-89{background-position: -220px -300px;}
.emoji-90{background-position: -220px -280px;}
.emoji-91{background-position: -220px -560px;}
.emoji-92{background-position: -220px -560px;}
.emoji-93{background-position: -220px -540px;}
.emoji-94{background-position: -220px -520px;}
.emoji-95{background-position: -220px -460px;}
.emoji-96{background-position: -220px -480px;}
.emoji-97{background-position: -220px -500px;}
.emoji-98{background-position: -220px -580px;}
.emoji-99{background-position: -220px -400px;}
.emoji-100{background-position: -240px -80px;}
.emoji-101{background-position: -240px 0;}
.emoji-102{background-position: -240px -200px;}
.emoji-103{background-position: -240px -160px;}
.emoji-104{background-position: -220px -180px;}
.emoji-105{background-position: -240px -380px;}
.emoji-106{background-position: -200px -160px;}
.emoji-107{background-position: -200px -120px;}
.emoji-108{background-position: -200px -100px;}
.emoji-109{background-position: -500px -120px;}
.emoji-110{background-position: -500px -200px;}
.emoji-110{background-position: -500px -140px;}
.emoji-111{background-position: -520px -200px;}
.emoji-112{background-position: -40px -400px;}
.emoji-113{background-position: -520px -100px;}
.emoji-114{background-position: -20px -500px;}
.emoji-115{background-position: -40px -100px;}
.emoji-116{background-position: -180px -420px;}
.emoji-117{background-position: -180px -520px;}
.emoji-118{background-position: -180px -340px;}
.emoji-119{background-position: -180px -580px;}
.emoji-120{background-position: -180px -400px;}
.emoji-121{background-position: -200px 0;}
.emoji-122{background-position: -180px -560px;}
.emoji-123{background-position: -180px -380px;}
.emoji-124{background-position: -180px -240px;}
.emoji-125{background-position: -200px -20px;}
.emoji-126{background-position: -180px -540px;}
.emoji-128{background-position: -180px -540px}
.emoji-129{background-position: -160px -500px;}
.emoji-130{background-position: -180px -500px;}
.emoji-131{background-position: -160px -400px;}
.emoji-132{background-position: -180px -480px;}
.emoji-133{background-position: -160px -320px;}
.emoji-134{background-position: -180px -300px;}
.emoji-135{background-position: -160px -520px;}
.emoji-136{background-position: -160px -300px;}
.emoji-137{background-position: -180px -200px;}
.emoji-138{background-position: -180px -160px;}
.emoji-139{background-position: -160px -440px;}
.emoji-140{background-position: -180px -220px;}
.emoji-141{background-position: -160px -580px;}
.emoji-142{background-position: -160px -540px;}
.emoji-143{background-position: -180px -80px;}
.emoji-144{background-position: -180px -60px;}
.emoji-145{background-position: -180px -460px;}
.emoji-146{background-position: -180px -320px;}
.emoji-147{background-position: -240px -480px;}
.emoji-148{background-position: -60px -80px;}
.emoji-149{background-position: -60px -60px;}
.emoji-150{background-position: -60px -240px;}
.emoji-151{background-position: -60px -100px;}
.emoji-152{background-position: -60px -140px;}
.emoji-153{background-position: -60px -120px;}
.emoji-154{background-position: -60px -260px;}
.emoji-155{background-position: -60px -300px;}
.emoji-156{background-position: -60px -260px;}
/*.emoji-156{background-position: -60px -280px;}*/
.emoji-157{background-position: -60px -20px;}
.emoji-158{background-position: -60px -40px;}
.emoji-159{background-position: -60px -200px;}
.emoji-160{background-position: -160px -560px;}
.emoji-161{background-position: -100px -520px;}
.emoji-162{background-position: -260px -140px;}
.emoji-163{background-position: -100px -540px;}
.emoji-164{background-position: -120px -20px;}
.emoji-165{background-position: -120px -40px;}
.emoji-166{background-position: -100px -560px;}
.emoji-167{background-position: -100px -380px;}
.emoji-168{background-position: -100px -400px;}
.emoji-169{background-position: -100px -580px;}
.emoji-170{background-position: -120px 0;}
.emoji-171{background-position: -100px -320px;}
.emoji-172{background-position: -240px -60px;}
.emoji-173{background-position: -100px -360px;}
.emoji-174{background-position: -100px -340px;}
.emoji-175{background-position: -100px -280px;}
.emoji-176{background-position: -340px -20px;}
.emoji-177{background-position: -100px -440px;}
.emoji-178{background-position: -100px -420px;}
.emoji-179{background-position: -280px -220px;}
.emoji-180{background-position: -280px -240px;}
.emoji-181{background-position: -320px -140px;}
.emoji-182{background-position: -120px -160px;}
.emoji-183{background-position: -280px -140px;}
.emoji-184{background-position: -320px -180px;}
.emoji-185{background-position: -320px -20px;}
.emoji-186{background-position: -300px -280px;}
.emoji-187{background-position: -500px -160px;}
.emoji-188{background-position: -280px -180px;}
.emoji-189{background-position: -320px -220px;}
.emoji-190{background-position: -320px -420px;}
.emoji-191{background-position: -300px -320px;}
.emoji-192{background-position: -300px -340px;}
.emoji-193{background-position: -320px -200px;}
.emoji-194{background-position: -300px -300px;}
.emoji-195{background-position: -540px -360px;}
.emoji-196{background-position: -320px -480px;}
.emoji-197{background-position: -340px 0;}
.emoji-198{background-position: -320px -580px;}
.emoji-199{background-position: -320px -560px;}
.emoji-200{background-position: -520px -400px;}
.emoji-201{background-position: -340px -420px;}
.emoji-202{background-position: -260px -220px;}
.emoji-203{background-position: -320px -40px;}
.emoji-204{background-position: -300px -460px;}
.emoji-205{background-position: -300px -500px;}
.emoji-206{background-position: -300px -560px;}
.emoji-207{background-position: -480px -20px;}
.emoji-208{background-position: -460px -560px;}
.emoji-209{background-position: -280px -120px;}
.emoji-210{background-position: -260px -520px;}
.emoji-211{background-position: -360px 0;}
.emoji-212{background-position: -460px -220px;}
.emoji-213{background-position: -260px -260px;}
.emoji-214{background-position: -340px -480px;}
.emoji-215{background-position: -240px -360px;}
.emoji-216{background-position: -240px -340px;}
.emoji-217{background-position: -140px -240px;}
.emoji-218{background-position: -140px -100px;}
.emoji-219{background-position: -520px -160px;}
.emoji-220{background-position: -140px -60px;}
.emoji-221{background-position: -520px -180px;}
.emoji-222{background-position: -520px -320px;}
.emoji-223{background-position: -120px -400px;}
.emoji-224{background-position: -140px -280px;}
.emoji-225{background-position: -140px -180px;}
.emoji-226{background-position: -140px -80px;}
.emoji-227{background-position: -500px -520px;}
.emoji-228{background-position: -500px -560px;}
.emoji-229{background-position: -500px -540px;}
.emoji-230{background-position: -500px -580px;}
.emoji-231{background-position: -140px -200px;}
.emoji-232{background-position: -240px -120px;}
.emoji-233{background-position: -120px -360px;}
.emoji-234{background-position: 0 -260px;}
.emoji-235{background-position: -120px -300px;}
.emoji-236{background-position: -300px -220px;}
.emoji-237{background-position: -300px -80px;}
.emoji-238{background-position: -120px -220px;}
.emoji-239{background-position: -120px -140px;}
.emoji-240{background-position: -120px -200px;}
.emoji-241{background-position: -120px -580px;}
.emoji-242{background-position: -120px -520px;}
.emoji-243{background-position: -120px -540px;}
.emoji-244{background-position: -540px -580px;}
.emoji-245{background-position: -220px -100px;}
.emoji-246{background-position: -220px -140px;}
.emoji-247{background-position: -220px -120px;}
.emoji-248{background-position: -220px -160px;}
.emoji-249{background-position: -200px -500px;}
.emoji-250{background-position: -200px -480px;}
.emoji-251{}
.emoji-252{}
.emoji-735{}

