html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
html{background-color:#F5F4F1}
body{overflow-x:hidden;font-family:Arial,\5b8b\4f53;line-height:1.5;color:#757575}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;color:#333;text-decoration:none}
ins{background-color:#FF9;color:#000;text-decoration:none}
mark{background-color:#FF9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #CCC;margin:1em 0;padding:0}
input,select{vertical-align:middle}
input,select,textarea{color:#444;font-size:14px;line-height:19px}
textarea{resize:none}
input::-webkit-input-placeholder{color:#B0B0B0}
h1{color:#444}
img,object{max-width:100%}
.fn-clear:before,.fn-clear:after{content:" ";display:table}
.fn-clear:after{clear:both}
.fn-left{float:left}
.fn-right{float:right}
.fn-hide{display:none}

.ui-list{margin:0 auto;max-width:600px;list-style:none}
.ui-list-item{margin:0 0 20px 0;padding:0}

.ui-doc{margin:0;padding:0}
.ui-doc-img{position:relative;overflow:hidden;}
.ui-doc-img img{display:block;margin-bottom: 19px;
}
.ui-doc-param{position:absolute;left:0;top:0;width:100%;text-align:center;color:#FFF;height: 200px;padding-top: 60px;background-color: rgba(0, 0, 0, 0.36);}
.ui-doc-param-name{padding: 10px 0;font-size:150%;text-shadow:0px 0px 3px #666;font-family:\5b8b\4f53}
.ui-doc-param-date{font-size:12px}
.ui-doc-param-icon{padding:14px 0 6px}
.ui-doc-param-icon img{margin:0 auto;border-radius: 100px;width: 48px;
}
.ui-doc-param-author{font-size:14px}
.ui-doc-text{padding:0 20px 19px 20px}

.ui-footer{display: none;}
.ui-footer-mobile{
	margin-bottom: 70px;
}
.ui-footer img{display:block;margin:0 auto;padding:20px 9px 7px 9px;
}
.cover{
	height: 240px;
	margin-bottom: 20px;
}
.badge-ios a,.badge-android a{
	display: block;
}
.badge-ios{
	width: 153px;
	margin: 0 auto;
}
.badge-android{
	width: 147px;
	margin: 0 auto;
}
.smartad{
	background-color: rgba(66,66,74,0.96);
	position: fixed;
	bottom: 0;
	left: 0;
	height: 68px;
	width: 100%;
	font-size: 1rem;
	z-index: 1000;
	font-size: 14px;
}
.sd-close{
	background: url('../images/close.png') no-repeat;
	background-size: 18px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.sd-point{
	color: #fff;
	display: block;
	text-decoration: none;
	height: 100%;
}
.sd-font{
	margin: 0;
	padding: 20px 8px 0 8px;
	display: -webkit-box;
	height: 32px;
	overflow: hidden;
	-webkit-box-align: center;
}
.sd-meet{
	background: url('../images/mark.png') no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: contain;
	vertical-align: top;
}
.sd-font>span{
	-webkit-box-flex: 1;
	display: block;
	margin: 0 12px;
	line-height: 120%;
}
.sd-dl{
	display: block;
	color: #3d4245;
	background-color: #e5e5e5;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 12px;
	font-weight: normal;
}
.tip-weixin{
	position: fixed;
	padding: 5px 2%;
	z-index: 999;
	width: 96%;
	background-color: rgba(66,66,74,0.96);
	color: white;
	text-align: right;
	font-size: 12px;
}
.switch a{
	position: absolute;
	right: 10px;
	bottom: 0;
	padding: 0 0 0 46px;
	height: 46px;
	color: rgba(255, 255, 255,0.75);
	z-index: 999;
	font-size: 12px;
	line-height: 48px;
	background-image: url(../images/icon_play.png);
	background-size: 46px 46px;
	background-repeat: no-repeat;
}
.ui-footer-mobile{margin:0 auto 80px auto;border-top:1px solid #D6D6D6;width:60%;text-align:center;font-size: 12px;padding-top: 10px;
}
@media all and (min-width: 1025px) {
	.ui-doc-param{top: 0;width: 100%;height: 240px;padding-top: 40px;background-color: rgba(0, 0, 0, 0.36);}
	.ui-doc-img{border:0}
	.smartad{display: none;}
	.ui-footer{display: block;margin:24px auto 80px auto;border-top:1px solid #D6D6D6;width:40%;text-align:center;font-size: 12px;}
	.ui-footer img{display:block;margin:0 auto;padding:20px 9px 7px 9px;}
	.ui-footer-mobile{display: none;}
}
