.container-fluid{max-width:1012px; margin:0 auto;}
.container-fluid p{margin:0; padding:0;}
.meet-nav {margin-bottom:48px; width:240px;}
.meet-nav li {width:120px; height:40px; line-height:40px; float:left; text-align:center; color:#fff; font-family:Helvetica; font-size:16px; background:#e4b3a6; cursor:pointer;}
.meet-nav li.selected {background:#e19d8c;}
.radius1 { border-radius:5px 0 0 5px;}
.radius2 { border-radius:0 5px 5px 0;}
body {background:url(../images/line_bg.png) left top repeat-x #ecebe6; padding-top:75px;}
.row-fluid .span6 {margin-left:0;}

.code-pic {margin-top:10px;}
.code-title {width:96px; color:#7d7d7d; top:10px; height:26px; line-height:26px; text-align:center; font-size:12px;}
.download {margin-top:10px;}

.span2 .logo {width:120px; height:120px; left:-10px; top:-12px; position:relative;}
.span2 .logo img { width:140px; height:140px; vertical-align:bottom;}
.span6 .title {color:#7d7d7d; font-size:24px; font-family:黑体;}
.download img {width:168px;height:54px;}

.remark {font-size:14px;margin-top:15px;color:#cacaca;}
.version {margin-top:40px;line-height:18px; color:#cacaca;}
.update-infor {margin-top:90px; color:#b4b4b4; line-height:30px; font-size:16px;}
.update-infor li {line-height:30px; padding-left:16px; background:url(../images/icon.png) 0 11px no-repeat;}
.update-bd {font-size:14px;}
#system-1 {display:none;}
#system-1 .text {font-size:16px; color:#7d7d7d; padding-top:100px;}

.carousel-indicators {bottom:-40px;}
.carousel-indicators li {background:#dbdbdb; border:1px solid #dbdbdb;}
.carousel-indicators .active {background:#c4c4c4; border:1px solid #c4c4c4;}
.carousel-inner .item img {border-radius:8px 8px 8px 8px; width:320px; height:auto;}
.footer {text-align:center; color:#b4b4b4; font-size:12px; padding-top:100px;}


