html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
html{background-color:#f8f8f8}
body{overflow-x:hidden;font-family:Arial,\5b8b\4f53;line-height:1.5;color:#757575}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;color:#333;text-decoration:none}
ins{background-color:#FF9;color:#000;text-decoration:none}
mark{background-color:#FF9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #CCC;margin:1em 0;padding:0}
input,select{vertical-align:middle}
input,select,textarea{color:#444;font-size:14px;line-height:19px}
textarea{resize:none}
input::-webkit-input-placeholder{color:#B0B0B0}
h1{color:#444}
img,object{max-width:100%}

.ui-meet{
	width: 100%;
	height: 350px;
	margin: 0 auto;
	background-color: rgb(242, 241, 237);
}
.ui-meet-logo{
	width: 70px;
	margin: 0 auto;
}
.download{
	width: 100px;
	margin: 0 auto;
}
.download a{
	display: block;
	padding: 0 0 10px;
}
@media all and (min-width: 1025px) {
	.ui-meet{
		height: 620px;
	}
	.ui-meet-logo{
		width: 140px;
	}
	.download{
		width: 430px;
		margin: 0 auto;
	}
	.download a{
		float: left;
	}
	.download .android{
		margin-left: 30px;
	}
	.ui-a{
		width: 100%;
		height: 535px;
		background-image: url(../images/ui-line.png);
		background-position: top right;
		background-repeat: repeat-x;
	}
	.ui-a-content,.ui-b-content{
		width: 1000px;
		margin: 0 auto;
	}
	.ui-line{
		width: 100%;
		height: 4px;
		margin: 0 auto;
	}
	.ui-b{
		width: 100%;
		height: 535px;
		background-image: url(../images/ui-b-line.png);
		background-position: top left;
		background-repeat: repeat-x;
	}	

}

/*印刷活动*/
#print{
	width: 320px;
	margin: 0 auto 44px;
}
#print .cover{
	width: 320px;
	height: 240px;
	background-image: url(../images/cover.png);
	background-size: 320px 240px;
}
h2{
	width: 100%;
	margin: 0 auto;
	background-image: url(../images/icon-ok.png);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	padding-top: 80px;
}
hr{
	border: none;
	border-bottom: 1px dashed #eee;
}
.tip{
	text-align: center;
}
.tip b{
	font-size: 150%;
	color: #f60;
	font-weight: 400;
}
.del{
	width: 300px;
	margin: 20px auto 0;
}
.del h3{
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 16px;
	border: 1px solid #c7c7c7;
	border-bottom: none;
}
.del .desppp{
	width: 100%;
	border: 1px solid #c7c7c7;
	background-color: #f1f0ec;
}
.del .desppp p{
	padding: 9px;
}
.del .desppp input{
	border: 1px solid #ccc;
	height: 30px;
	padding: 5px;
}
.c{
	text-align: center;
}
.del .desppp input,.del .desppp button{
	width: 252px;
	margin: 2px 0 0 10px;
}
.del .desppp button{
	height: 44px;
	border: none;
	background-color: #fd5021;
	color: white;
	font-size: 16px;
	width: 278px;
	border-radius: 5px;
	margin-top: 5px;
}
.ui-footer{display: block;margin:24px auto 80px auto;width: 90%;
	text-align:center;font-size: 12px;}
.ui-footer h1{font-size:150%;width:100%;}
.ui-footer img{display:block;margin:0 auto;padding:20px 9px 7px 9px;}

/* 活动页面样式 */
#active p{
	margin-top: 30%;
	text-align: center;
}
#active ul{
	width: 320px;
	margin: 20px auto 0;
	list-style: none;
}
#active ul li{
	display: block;
	background-color: gray;
	width: 320px;
	height: 150px;
	
	background-repeat: no-repeat;
	background-size: 320px 150px;
	margin-bottom: 4px;
}
#active ul li.a_c_01{
	background-image: url(../images/a_c_01.png);
}
#active ul li.a_c_02{
	background-image: url(../images/a_c_02.png);
}
#active ul li a{
	position: relative;
	display: block;
	width: 100%;
	height:150px;
	font-size: 14px;
	color: white;
}
#active ul li span.title{
	position: absolute;
	top: 105px;
	left: 10px;
}
#active ul li span.title sup{
	margin: 0 2px;
	padding: 1px 2px;
	font-size: 12px;
	border-radius: 2px;
}
#active ul li span.title sup.end{
	background-color: #f60;
}
#active ul li span.title sup.wait{
	background-color: #ccc;
}
#active ul li span.des{
	position: absolute;
	top: 125px;
	left: 10px;
	font-size: 12px;
	color: #999;
}